<<<<<<< HEAD
<!DOCTYPE html>
<html>

<head>
<title>This is a test text</title>
</head>

<body>

<h1>This is a test text</h1>
<p>If u can see the titles, heads and this sentense it means it work</p>
</body>

</html>

=======
>>>>>>> origin/master
{{outlet}}

<footer id="info">
  <p>Emotion Regulation Worksheet</p>
</footer>
