
<ul id="menu">
  <li>
    {{#link-to 'login'}}
      Login
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'cubeapp'}}
      Cube App
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'old-worksheet'}}
      Old Worksheet
    {{/link-to}}
  </li>
</ul>

{{outlet}}

<footer id="info">
  <p>Emotion Regulation Worksheet</p>
</footer>
