
<section id="cubeapp">
  <header id="title">
    <h1>Emotion Regulation</h1>

  </header>

  <section id="main">
 
    
  </section>

  <footer id="footer">
  <li>does this work</li>
  <li>another option</li>
  <li>
    {{help}}
  </li>

  </footer>
</section>