<button type="button" class="btn btn-default navbar-btn">Setting</button>;
<button type="button" class="btn btn-default navbar-btn">New Worksheet</button>;
<button type="button" class="btn btn-default navbar-btn">View Old Worksheet</button>
