<section id="menu">
<head>
  <title>menu</title>
</head>

<body>
  <a src="setting menu.hbs" target="_self">Setting</a>
  <a src="cubeapp.hbs"> New Worksheet</a>
  <a src="old worksheet.hbs"> View Old Worksheet</a>

</html>
