Old Worksheet Content Goes Here

<section id="past-answers">
    <ul class="list-group">
	    <div class="form-inline">
	      <label>Question 1: Emotion: </label>
	     	<li class="form-control" >{{answer.name}}</li>
	    </div>

	     <div class="form-inline">
	      <label>Question 2: Intensity (0-100)</label>
	      	<li class="form-control">{{answer.range}}</li>
    	</div>

	    <div>
	      <label>Question 3: Prompting event for my emotion: (who, what, when, where) What started the emotion? </label>
	      	<li class="form-control">{{answer.reason}}</li>
	    </div>

  </section>
