<html>
<button type="button" class="btn btn-default navbar-btn">Account Setting</button>
<br>
<button type="button" class="btn btn-default navbar-btn">Theme Setting</button>
<br>
<button type="button" class="btn btn-default navbar-btn">Music Setting</button>
<br>
<button type="button" class="btn btn-default navbar-btn">Suggestions</button>
<br>
<button type="button" class="btn btn-default navbar-btn">About</button>
